[2021-04-02 18:23] mskocik opened #1 "Provide virtual list option"
Include some virtual-list implementation (probably tiny virtual list)

- [x] POC implementation
- [x] Provide way to handle also group headers
- [x] Code cleanup (from copy & paste of `Dropdown` component)
  - [x] Investigate if only one component can be used
- [x] provide props for item height
- [x] auto-generate item height

[2021-04-02 18:28] mskocik opened #2 "Simplify store"
I think the store is quite complex, basically due to optionsGroups. One solution I have in mind is by restructure `items` to flat list. No matter if grouped or not.

Quite huge refactoring and it requires handle of `group-header` rendering in `Item.svelte` component.

Some points to take care of:

- [x] group header rendering
- [ ] enable adding formatters?
- [x] keyboard navigation
- [x] option c

[2021-04-02 18:29] mskocik opened #3 "Move documentation to separate branch"
And update it.

[2021-04-02 18:31] mskocik commented on #1
Point 2 should be handled after #2 is resolved

[2021-04-03 17:02] mskocik opened #4 "Empty group on multiselect"
During #2 edge case of empty group label appeared.
![image](https://user-images.githubusercontent.com/25513620/113485645-e90b8a00-94ae-11eb-9fec-c9cbdc269ef2.png)

Would be great to have this fixed in the future, but for me it has very low priority

[2021-04-04 18:24] mskocik opened #5 "Option group formatters"
Provide ability to define group header renderer (formatters)

[2021-04-04 18:28] mskocik commented on #4
There is related bug to this. For multi-select the **first** label is not displayed (shown correctly on single-select)
![image](https://user-images.githubusercontent.com/25513620/113518068-39085080-9584-11eb-8f22-104d2fd6b3f0.png)

[2021-04-04 18:30] #2 closed, assigned to nobody

[2021-04-04 19:28] mskocik commented on #3
And do code check and cleanup after full implementation of #1, #2, #4

[2021-04-05 06:52] #1 closed, assigned to nobody

[2021-04-05 06:53] mskocik opened #6 "Keyboard nav on creatable"
With new listIndex mapping, 'create item' option cannot be selected by keyboard

[2021-04-05 06:55] mskocik opened #7 "Possible to create duplicate item"
![image](https://user-images.githubusercontent.com/25513620/113546633-a5b73580-95ec-11eb-938b-3e7b1a04b0a2.png)

[2021-04-05 09:50] #4 closed, assigned to nobody

[2021-04-05 10:00] mskocik opened #8 "Selected items are not sorted by selection order"

[2021-04-05 10:37] #8 closed, assigned to nobody

[2021-04-05 11:29] #6 closed, assigned to nobody

[2021-04-05 11:29] #7 closed, assigned to nobody

[2021-04-05 11:31] mskocik opened #9 "Make input read-only on mobile"
Would be nice to for mobile devices to show list only on focus, and on second click start typing.

[2021-04-05 11:33] mskocik commented on #5
A lot is possible with css, therefore it's only _nice to have_

[2021-04-05 11:35] mskocik opened #10 "Match CE with the latest version"
Basically refers to virtualList settings.

[2021-04-05 11:37] mskocik opened #11 "Re-implement sifter-related props in filterList"
📝 reminder of this, because this has still not been re-implemented.

[2021-04-10 19:44] mskocik opened #12 "Add focus() method"
Svelte component lack `focus()` method. Only CE version has it. Could be useful to have it, to be able to call it programmatically.

[2021-04-15 15:12] #11 closed, assigned to nobody

[2021-04-15 15:12] mskocik commented on #5
Not needed for me

[2021-04-15 15:12] #5 closed, assigned to nobody

[2021-04-15 16:21] mskocik commented on #10
Should be good now

[2021-04-15 16:21] #10 closed, assigned to nobody

[2021-04-15 16:22] mskocik commented on #3
Invalid... but documentation done

[2021-04-15 16:22] #3 closed, assigned to nobody

[2021-04-20 09:55] mskocik opened #13 "Add a11y"
Based on [wai-aria-practises](https://www.w3.org/TR/wai-aria-practices/examples/combobox/aria1.1pattern/listbox-combo.html) and take an inspiration from [react-select](https://github.com/JedWatson/react-select/blob/9009a153c059474117a7696f9f7a0914ad80acc0/packages/react-select/src/accessibility/index.ts) and [svelte-select](https://github.com/rob-balfre/svelte-select/issues/286)

[2021-04-27 19:26] #12 closed, assigned to nobody

[2021-04-28 19:59] kamholz opened #16 "distinguish strings for no match vs. nothing left"
Right now, if you have multiple select on and you choose all of the available options, the string displayed is `config.i18n.empty`. This is the same string as when you type and nothing is matched. These are distinct situations and it would be nice to be able to display a different message. It seems like `config.i18n.nomatch` should be used when you type and nothing is found, but it looks like it i

[2021-04-29 06:53] mskocik opened #17 "undefined for creatable with empty options"
When `options` prop is empty array and new item is created, selected value is `undefined`. If multiple values are created, it works well.

Issue must be related to conversion of internal selection to output values.

[2021-04-29 12:18] #16 closed, assigned to mskocik

[2021-04-29 12:18] #17 closed, assigned to mskocik

[2021-05-04 22:04] kamholz opened #21 "infinite loop with `listIndex.next`"
I ran across an issue just now on the latest master. I have a single-select input with fetch enabled. After choosing a result, if I then clear the result by pressing backspace, I get a maximum call stack exceeded error. This is triggered by `listIndex.next(dropdownActiveIndex - 1)` in `onDeselect`. It first gets called with -1, then 0, then -1, etc. I'm not sure exactly why this happens or what th

[2021-05-05 06:16] #21 closed, assigned to nobody

[2021-05-07 17:17] mskocik opened #22 "Change event on init in anchored select"
`change` event is triggered automatically on mount, which is undesired. Can result in marking given form control as invalid without touching it. [REPL](https://svelte.dev/repl/2238567bc1eb4eae9e7ac4650877c8b4?version=3.38.2)

Maybe it would be enough to move "anchor-related" logic to svelecte-element, because it has been implemented because of it in the first place.

[2021-05-10 08:04] #22 closed, assigned to mskocik

[2021-05-10 10:56] mskocik opened #23 "set value `undefined` on fetch"
When fetching and afterwards `options` is reset, also `labelField` and `valueField` are reset. It returns `undefined` for custom data options.

[2021-05-10 10:57] #23 closed, assigned to mskocik

[2021-05-25 14:52] mskocik opened #24 "Initialy selected option bugs"
I found now following issues:

- [ ] In some  cases preselected value is not really selected
- [ ] Also preselected object doesn't keep all properties. It's striped to default ones (value & label)

[2021-05-25 14:53] #24 closed, assigned to mskocik

[2021-06-13 19:21] kamholz opened #25 "compiler warnings: declared in a module script and will not be reactive"
When bundling `svelecte` in a SvelteKit app, I get a bunch of compiler warnings:

[code]

As far as I can tell, none of these warnings are actually significant because these variables don't need to be reactive, but it would be nice to eliminate the warnings somehow. I'm not sure if the best solution is to add a "svelte-ignore module-script-reactive-declaration" comment (does that work in JS code??

[2021-07-27 10:57] jieter opened #26 "RangeError: Maximum call stack size exceeded in list.js"
I'm looking into using svelecte in my application. In one of the use cases, the selection of a location can also be made trough a Leaflet map, simplified code looks like this:

[code]
After clicking the map, the Svelecte instance correctly has the location name:

<img width="385" alt="Screenshot 2021-07-27 at 12 54 06" src="https://user-images.githubusercontent.com/1470389/127142697-1a079121-f825-

[2021-07-27 11:02] mskocik commented on #26
Will look into it.

[2021-07-27 11:05] mskocik commented on #25
This one is how rollup-svelte plugin works... It's quite annoying and I am not sure if the comment solution works. It didn't work few months ago.
Anyway it's not related component function, because module props are not used in reactive way.

Will check if this one has changed lately, I know more people was having the same issue with this warning.

[2021-07-27 13:29] #25 closed, assigned to nobody

[2021-07-27 16:16] #26 closed, assigned to mskocik

[2021-07-27 17:01] jieter commented on #26
Great, I'll check it tomorrow

[2021-07-27 19:19] jieter commented on #26
I just tested it, it works like expected with 1.3.4, thanks!

[2021-08-02 11:19] mskocik opened #27 "Invalid collapsible width calculation on init"
When initialing this one with collapsible setup.

This happens:
![2021-08-02_131133_firefox_KFOIIOD3pN](https://user-images.githubusercontent.com/25513620/127852882-a4e5b717-8f13-452a-9ba4-f186163021b1.png)
This is expected:
![2021-08-02_131144_firefox_KLf0Gzd5CG](https://user-images.githubusercontent.com/25513620/127852883-31dc6b53-3e5c-4130-8a21-f4b70c665b20.png)

Custom-element version is being

[2021-08-18 12:05] jieter opened #28 "Responsiveness with bootstrap5"
Svelecte doesn't seem to handle resizing correctly in a bootstrap5-styled document.

Expected rendering:
<img width="1078" alt="Screenshot 2021-08-18 at 14 02 25" src="https://user-images.githubusercontent.com/1470389/129894744-33c1caa1-a270-41f2-a155-f1ca8d9db184.png">

After resizing below the breakpoint collapsing the menu and again to a wider window:

<img width="1061" alt="Screenshot 2021-08-

[2021-08-27 17:16] mskocik commented on #28
@jieter Can you update to version 1.3.6? Possibly the same issue as mentioned in #29

[2021-08-27 17:19] mskocik commented on #27
Not important right now and it seems this is relevant only to CE version..

[2021-08-27 17:19] #27 closed, assigned to mskocik

[2021-08-27 19:22] jieter commented on #28
I updated in https://github.com/jieter/orc-data/commit/488b1c654581d5cf5a38bcedc547b8665779720c, which is now live on the above url. Bug is still present unfortunately.

[2021-08-28 06:09] mskocik commented on #28
It found the cause! It's a bug in your app. Dropdown indicator's `width` and `height` attributes are changed on resize. Scaning through your code, it can be here:

[code]

[2021-08-28 06:11] jieter commented on #28
🤦‍♂️

Thanks!

[2021-08-28 06:11] #28 closed, assigned to nobody

[2021-08-28 08:57] jieter commented on #28
That was indeed the culprit, fixed now.

[2021-09-28 03:01] niwasmala opened #30 "New created item, cannot modify directly. Must clear item first"
Thanks alot for creating awesome Svelecte!

**Problem**
When I use creatable options, it works perfectly on creating new item. But when I want to edit the created item, e.g fixing typo, I have to clear the item and type from empty first.

**Step to Reproduce**
1. Open https://mskocik.github.io/svelecte-docs/?ref=madewithsvelte.com#custom-element , use color options, and check creatable

2. Type "N

[2021-09-29 07:27] mskocik commented on #30
There is no way to edit already created item at the moment. That would require some updates in internal logic.

@niwasmala It's clearly visible with multiple select, that selected option is not editable.

[2021-10-03 16:16] berohndo opened #32 "problem in "multiple-mode" with shared option-array"
**First of all I would like to thank you for your great work.**

Then I would like to mention a behavior of the component that I suspect is a bug.

For example, if you run 2 instances of svelecte in "multiple" mode, with the same options array, then they interfere with each other, because svelecte also uses the options array to manage the state (isSelected true/false).

I created a small show case

[2021-10-03 16:20] berohndo opened #33 "js error when in "multiple-mode" with empty selection array"
On initial render of svelecte with an empty "selection array" - a js error occures:

`<script>
  import Svelecte from "svelecte";

  const options = [
    { id: 1, label: "Option 1" },
    { id: 2, label: "Option 2" },
    { id: 3, label: "Option 3" },
  ];

  let selection = []; // causes an error
  // let selection = null; // works
</script>

<Svelecte {options} bind:selection multiple />`

![im

[2021-10-03 16:57] mskocik commented on #32
I am aware of this, but I don't think it's a bug. As you can see in [docs dataset file](https://github.com/mskocik/svelecte-docs/blob/main/src/data.js) options are returned from function to ensure they are unique to each Svelecte instance.

The only way to fix this would be to duplicate options aray inside Svelecte, which is not desirable, because I would like to avoid unnecessary work of creating

[2021-10-03 17:07] #33 closed, assigned to nobody

[2021-10-03 17:22] mskocik opened #34 "Issues with object comparison"
There are some issues with current implementation of object comparison. We rely heavily on fact that all objects we are working with are _always_ the same, which they are not.

This brings following issues:

- you can select multiple times the same option when fetched remotely (dfifferent object)
- your initial `selection` for multiselect cannot be different option with same id as demonstrated her

[2021-10-04 07:46] mskocik commented on #32
I am going to do some internal changes for upcoming version and this should be taken into account as well. Basically options array should not be mutated in any way.

[2021-10-07 10:38] #30 closed, assigned to nobody

[2021-10-07 10:38] #32 closed, assigned to mskocik

[2021-10-07 11:28] #34 closed, assigned to mskocik

[2021-10-11 09:12] mskocik opened #37 "Missing tests"
Would be great to have tests in place. Especially for virtual list, where Svelecte relies on svelte's internals and can potentially break in the future. Help is appreciated.

[2021-10-16 19:48] mskocik opened #40 "Restrict remote search by minimum character count"
Would be nice to add this property. Not everytime you want to query server by every keystroke

[2021-10-17 13:46] #40 closed, assigned to nobody

[2021-10-22 08:50] abushak opened #44 "__vite_ssr_import_7__.registerSvelecte is not a function"
Sveltekit ("@sveltejs/kit": version": "1.0.0-next.186", "vite": "^2.6.10" )

it succsesfuly runing 1-st try "npm run dev" with trowing error only in console:
"__vite_ssr_import_7__.registerSvelecte is not a function

after reload - page shows up with error..

Iam trying to do ["Wired (dependent) selects " ](https://mskocik.github.io/svelecte/#dependent-selects)

[2021-10-22 10:35] mskocik commented on #44
`registerSvelecte` is meant to be used _in the browser_, which calls [`customElements.define`](https://developer.mozilla.org/en-US/docs/Web/API/CustomElementRegistry/define) under the hood. If you want to build dependent selects in svelte/sveltekit app, you need to do you by yourself.

It the documentation it works, because `registerSvelecte` is called on the client. Not on the server.

[2021-10-29 15:35] mskocik commented on #44
@abushak can this issue be closed?

[2021-11-02 12:05] mskocik opened #47 "Incorrect handle on spacebar"
When typing "search text" for `fetch` results and you press `space`, dropdown is toggled on 1st stroke. So for every empty space you need, spacebar need to be pressed twice

[2021-11-02 13:33] mskocik commented on #47
Fixed in fb3f518

[2021-11-02 13:33] #47 closed, assigned to mskocik

[2021-11-02 14:20] abushak commented on #44
yes

[2021-11-02 14:43] #44 closed, assigned to nobody

[2021-11-02 22:29] taffit opened #48 "Feature request: Allow actions on components for e. g. validations within forms/form-libraries"
Hello,

first of all: Thank you for this wonderful library. Works perfectly where other fail and has a lot of settings allowing you to adjust it to your needs.

One thing I'm missing, though, is to attach [Svelte actions](https://svelte.dev/docs#use_action) on the `Svelecte`-component. My use case: I'm using another marvelous library called [`svelte-use-form`](https://github.com/noahsalvi/svelte-u

[2021-11-03 13:33] #48 closed, assigned to nobody

[2021-11-03 13:47] mskocik commented on #48
Very easy to implement, IF you know which events `svelte-use-form` listens to... Took me a while to figure out, why it was _not_ working, when it was supposed to 😅

Example repl for you here: 👇
https://svelte.dev/repl/de3cd8e47feb4d078b6bace8d4cf7b90?version=3.44.1

[2021-11-03 14:08] mskocik opened #49 "Rework docs"
I can imagine better docs - more examples, more straightforward and clear.

- [x] Rework the whole package to svelte-kit.
- [ ] Better examples:
  - [x] basic data (simple array, object array, internal properties, groups)
  - [x] selection (labelAsValue, valueAsObject, readSelection)
  - [x] single/multi (max, collapseSelection)
  - [x] custom rendering (renderer, custom item)
  - [ ] creatable (c

[2021-11-03 14:20] phormula opened #50 "on:blur event on the component"
How can one fire on blur event on the entire component?

[2021-11-03 15:07] taffit commented on #48
This ... is ... amazing!!! Thank you @mskocik , thanks a lot!
Not even a day later you already provided the solution, including a perfect REPL! Wow, how responsive and helpful. 👍
Thank you once more for this marvelous library, it is extremely useful, feature full, configurable ... Just great!

[2021-11-03 15:30] mskocik commented on #50
Blur event is not dispatched. What is your use-case, why would you need it?

[2021-11-03 15:54] mskocik commented on #48
Glad I could help ☺️ Thanks for feature suggestion 👍

[2021-11-04 06:42] phormula commented on #50
I am using the component in an inline edit

[2021-11-04 06:52] mskocik commented on #50
Seems reasonable 👍

[2021-11-04 06:54] #50 closed, assigned to mskocik

[2021-11-04 08:08] abushak opened #51 "Cannot assign to "formatterList" because it is a constant"
npm run dev

returns

node_modules/svelecte/src/Svelecte.svelte:11:6: error: Cannot assign to "formatterList" because it is a constant

changing from "const formatterList" (line 5 in Svelecte.svelte) to " let formatterList" resolves an issue

[2021-11-04 08:17] #51 closed, assigned to nobody

[2021-11-04 18:22] mskocik opened #53 "Wrong behaviour for `PageUp`/`pageDown`"
Should move by "page", but moves to start/end of the list.

[2021-11-08 09:48] codeho opened #54 "Feature Request: add option to use svelte component as item renderer."
Hi,

It would be great if it'd be possible to give the 'renderer' option a svelte component as parameter
instead of having to have a function with backtick syntax.

[2021-11-08 10:14] mskocik commented on #54
So you suggest possibility to replace whole `Item` component or just _its_ inner content?

[2021-11-08 10:27] codeho commented on #54
Well, in order to keep consistency with the Actions etc. it might be a good idea to add a
component prop to Item.svelte and if its set load that component within `<div class="sv-item">` instead of the @html block.

On the other hand it could get a little messy with all the isGroupheader and the "isSelected" and "deselect", so maybe having the option to override the whole thing, and then the dev ne

[2021-11-08 12:11] mskocik commented on #54
The thing is, Svelecte is doing a lot of things under the hood. And it only gets complicated with multiselection and option groups (because `Item.svelte`  is used in dropdown and also renders selected items).

`Svelte-select` use mentioned `Item` property only in dropdown and use it's default for selected items. While Svelecte gives you full control also over appearance of selected items. Have you

[2021-11-08 14:18] codeho commented on #54
yes, i understand. of course i've seen the custom rendering example :) it's a cool solution and i like it, but like i said, i'm not too hot on the backtick html idea, and would love to have it accept components as well.
Maybe it would make sense to have the possibility to add resultItemComponent and ControlItemComponent.
so they can, if needed, be displayed separately.
i'll grab a fork and play ar

[2021-11-12 17:00] mskocik opened #55 "Make restyling easier"
include CSS variables to enable easier restyling, similar to  how I did it in [svelty-picker](https://github.com/mskocik/svelty-picker).

Basic stuff like:
- borders
- colors
- padding
- icon color
- heights (svelecte, dropdown)

[2021-11-13 12:23] #55 closed, assigned to nobody

[2021-11-13 12:49] #53 closed, assigned to mskocik

[2021-11-13 14:31] #54 closed, assigned to nobody

[2021-11-13 14:52] mskocik commented on #54
I found some time to do it, felt really creative today 🤣 There is small piece of information in the docs, should be doable based on it 👍

[2021-11-15 12:46] mskocik opened #56 "TypeError: can't access property, opt is undefined"
Very special bug, happens when value is changed from parent component, here exactly:

https://github.com/mskocik/svelecte/blob/1a46afae5c5c296282e267c5d1c1a5711034d8d3/src/Svelecte.svelte#L339-L345

[2021-11-15 12:58] mskocik commented on #56
But this doesn't solve issue, when invalid value (although correct type is passed)

[2021-11-15 15:24] #56 closed, assigned to mskocik

[2021-11-16 09:30] mskocik opened #57 "Initial value for options with groups is not set"

[2021-11-16 10:12] #57 closed, assigned to mskocik

[2021-11-19 09:17] tylkomat opened #58 "Stop people from creating empty entries"
Is it possible to prohibit empty entries?

[2021-11-19 10:29] mskocik commented on #58
Will look into it

[2021-11-19 16:07] mskocik opened #59 "Highlighting in selected items"
It's necessary to have selected items highlighted

![image](https://user-images.githubusercontent.com/25513620/142654275-1b6b3c92-9de9-42bf-9a8d-137b4422c49e.png)

[2021-11-19 16:13] #58 closed, assigned to mskocik

[2021-11-19 16:13] #59 closed, assigned to mskocik

[2021-11-19 16:20] mskocik commented on #58
By default entering `''` doesn't create new option. You can further customize this transform function. Check `createFilter` option for more details and source code of [vue example](https://mskocik.github.io/svelecte/#with-vue) for real example.

[2021-11-27 19:30] Selion05 opened #61 "web component example"
Hey,

I'm looking for a replacement for select2 because it is the only library i use that needs jQuery and Svelecte looks promising. Thanks for that :)

The documentation for the web component didn't work for me (Svelecte was not available on the window object).

Here is a minimal example

[code]
note the options were just escaped by twig
[code]

I'm not to familir with web components but do you t

[2021-11-27 20:02] mskocik commented on #61
Definitely, I created custom-element version exactly for this use-case, because I am using it with PHP myself.

There must be something missing or wrong in your html markup. I would need to see the whole template.

You can check [this example](https://jsfiddle.net/em4strqp/) on JSFiddle, where it works.

If you pass JSON encoded string as an `options` attribute, it should work

There is option `fe

[2021-12-07 02:19] GhaithAlHallak8 opened #62 "Inital value is not set"
Hi, I'm having a problem with setting an initial(default) value for my options.
REPL: https://svelte.dev/repl/98d715f3d6aa4e8094cd6d238e284744?version=3.44.2

[2021-12-07 11:14] #62 closed, assigned to mskocik

[2021-12-07 11:17] mskocik commented on #62
Thanks for reporting 👍

[2021-12-07 23:12] GhaithAlHallak8 opened #63 "Initial value for creatable options is not set"
Hi, I think it's would be nice to have the ability to set an initial value for creatable options in the library.

Example REPL: https://svelte.dev/repl/cdb1ed59493943a19fd255704a68df87?version=3.44.2

[2021-12-08 13:21] mskocik commented on #63
Just pass `options` property, like you normally would. If you want the initial values to behave like they were created by user, you need to pass object array, simple array won't be enough.

Like:
[code]

Is it clear?

[2021-12-08 13:34] mskocik opened #64 "Wrong check for `alreadyCreated` items"
When editing previously created option and there is more of them and you edit the one, which was created first. It cannot be created again.

[2021-12-08 13:36] #64 closed, assigned to mskocik

[2021-12-08 13:45] mskocik opened #65 "Improve initial `fetch`"
This is wrong:
![image](https://user-images.githubusercontent.com/25513620/145218711-abeb9d2d-39dd-4565-a628-cfb18bd021e6.png)

Label says "type to search", but it's already fetching data. Also `xhr` should be cancelled when svelecte goes to disabled state.

- [x] Fetch should be cancelled when `disabled` property is changed.
- [x] Fix message on loading
- [x] Ability to cancel current fetch by pr

[2021-12-08 14:11] mskocik opened #66 "Map `dropdownIndex` for selected index"
Initially `dropdownIndex` is not set, although value is

[2021-12-08 14:13] mskocik opened #67 "Prevent default on `PageDown`|`PageUp`"
Decide how `PageDown` and `PageUp` should behave, now it scrolls the page and move by page in dropdown at the same time. Not desired. Only one action should be triggered.

[2021-12-09 10:48] mskocik opened #68 "Dropdown always render down"
It was working before, dropdown should move above input line

[2021-12-09 11:29] #66 closed, assigned to nobody

[2021-12-09 11:29] #68 closed, assigned to nobody

[2021-12-09 11:32] #67 closed, assigned to nobody

[2021-12-09 12:13] GhaithAlHallak8 commented on #63
Thanks!

[2021-12-09 12:13] #63 closed, assigned to nobody

[2021-12-09 12:52] #65 closed, assigned to mskocik

[2021-12-09 13:05] mskocik opened #69 "Reset previous options on initial fetch"
Sometimes previous options can be accessible, before new list is populated.

[2021-12-09 21:10] rocamalo opened #70 "Component broken on Safari"
Just started using this component and everything was smooth, but i'm getting this error on Safari.
TypeError: undefined is not an object (evaluating 'F.focus')

And it breaks my whole website.
Any idea what could it be?
<img width="1342" alt="Screen Shot 2021-12-09 at 15 10 01" src="https://user-images.githubusercontent.com/73503608/145476233-ba412837-4c19-426a-b48d-521367f55c1a.png">

[2021-12-10 05:05] mskocik commented on #70
Interesting, I have few questions:

- Can you provide some code snippet how are you actually using svelecte?
- Can you replicate the issuel in svelte REPL?
- Does documentation site works fine for you?
- Are you calling focus method on svelecte?

On 9. 12. 2021 22:11, rocamalo wrote:

[2021-12-10 15:54] rocamalo commented on #70
Hello and thanks for the reply here is how i am using Svelecte
`{#if allModelOptions && allModelOptions.list.length > 0}

          <Svelecte
          placeholder="MARCA"
          clearable=true
          options={allMakeOptions}
          bind:value={selectedMake}
          valueAsObject=true

        </Svelecte>

        {/if}
        </div>
          <div class="select-container">

[2021-12-10 15:58] rocamalo commented on #70
i have this function called when "onChange" on your component, just like i had it with normal selects.

`const requestSubgroups = async ()  => {
      const itemSelect = document.getElementById('subgroup');
      setTimeout(async function(){ const grupos = await getSubgroups(getMakeReadyForRequest(), getModelReadyForRequest());
     console.log(itemSelect);
     subGrupos = grupos;
     subGrupos.

[2021-12-10 17:30] mskocik commented on #70
Can you make sure of this? Because in given code I see nothing wrong. Should definitely work fine 🤔

[2021-12-10 23:18] rocamalo commented on #70
Yes im sure.
and i just deleted the Svelecte component and my site now displays properly on Safari
:(

[2021-12-11 06:44] mskocik commented on #70
Before I try to fix that. Try commenting all svelectes and ucomment them one by one, which one is throwing the error

[2021-12-11 06:48] mskocik commented on #70
Btw your site is working fine in Firefox. It takes longer before the first svelecte appears, but it works fine. Also try adding `virtualList` property. It's false by default, but if you have long lists it can be faster to render.

[2021-12-11 10:04] Selion05 commented on #61
Sorry for not being clear enough. I was talking about that https://github.com/mskocik/svelecte/blob/d0794392fb1fbd31eea7be3b10cbdc06aa7ba765/docs/index.html#L446 where Sveletect was not available on the window object.

Yeah I saw that, what I meant was if is possible to pass options in more "natural" way for html like so?
[code]

[2021-12-11 14:42] mskocik commented on #61
You must have the script loaded before you try to call it.

As I said before, you must have something wrong in your template, if `window.Svelecte` is undefined and you have svelecte script already loaded.

This is not supported at the moment. And the only reason is, that I have never had the need for it. It could be implemented. If you would like this to be add, please open new issue for it.

[2021-12-13 12:36] mskocik opened #71 "[fetch] Allow create options from initial value"
Can be desirable to init svelecte with initial value when we have fetch ~in `init` mode~ defined.

Typical use-case would be dependent svelecte and previous search with stored value.

_[update 2022-01-25]_
~Should work only conjunction with `valueAsObject` property~
Of course it should work also with `init` fetch mode, in which case, value setter will be delayed

[2021-12-13 13:30] mskocik commented on #69
Closed ind 7e2dae03957fe98aa946a33408cac47274be20ff

[2021-12-13 13:30] #69 closed, assigned to nobody

[2021-12-15 03:44] rocamalo commented on #70
Thanks i'll give it a try and let you know if it works!

[2021-12-21 16:10] lionelB opened #72 "allow to focus the input using a `<label>` tag"
Hello

svelecte don't support `id` props which could be useful for focusing a input using its label (like other html input)
Would you accept a PR ?

[2021-12-21 17:06] mskocik commented on #72
Of course! Please name that prop `inputId` so it will be clear what is it for.
And add it to `Readme` and ideally also to docs HTML file

[2021-12-21 17:18] lionelB commented on #72
I update my PR

[2021-12-21 18:10] #72 closed, assigned to nobody

[2021-12-23 17:12] Augustin82 opened #76 ""Uncaught TypeError: scrollContainer is null""
Hi!
We use Svelecte as a svelte component on a page, in a form component. Upon successful submission, another component is shown (this is done in an `{#if}{:else}{/if}` block.
When this happens, we get an error in the console:
[code]
After looking into it, it seems the following condition is bad:
[code]
because it will not return when `renderDropdown` is not nullish.
Indeed, here is what I could l

[2021-12-23 20:05] mskocik commented on #76
If you could create reproducible example in svelte REPL, it would be very helpful

[2021-12-26 11:34] Draconizations commented on #76
I am getting the same error in my svelte app. I've found out that if a component with a svelecte component inside it gets destroyed, these errors appear when scrolling. Here's a [link to a REPL](https://svelte.dev/repl/2576d9160e15473cb38ef72217e81d01?version=3.44.3) that reproduces the issue

[2021-12-27 09:48] #76 closed, assigned to nobody

[2021-12-27 09:52] mskocik commented on #76
@Spectralitree thanks for your REPL, made it very easy for me to fix this 👏 💯

[2021-12-27 10:18] Augustin82 commented on #76
Hi! Thank you very much =)

[2021-12-27 17:07] zenmanenergy opened #77 "Confused by examples"
The examples in the docs are missing key elements and they are throwing errors. I'm new to this library and am hunting for how to just get a simple select box running.

Can you make the examples so I can just copy and paste the code+data into my editor and run it? The documentation is SUPER confusing.

[2021-12-27 17:07] #77 closed, assigned to nobody

[2022-01-07 15:05] knajjars opened #78 "Issues with HTML sanitization (?)"
When the labelField has some HTML, for example: `"><img src=x onerror=alert(1)>` and you open the dropdown with Svelecte, you will see the alert popup.
<img width="447" alt="Screen Shot 2022-01-07 at 9 04 40 AM" src="https://user-images.githubusercontent.com/19353218/148562949-14fc632c-3d1c-4197-ae49-49bb3b9e52f1.png">

[2022-01-08 05:46] mskocik commented on #78
I see no point in doing this on library level. Because you are in control what data you pass to Svelecte in `options` prop. Typically you should pass data only, and format them visually by providing custom `renderer`. So you can sanitize item HTML with your own `renderer`.

Or if you enable user to insert new items (through `creatable` prop), you can do sanitization through your own `createFilter`

[2022-01-09 23:59] #78 closed, assigned to nobody

[2022-01-23 09:16] Tam2 opened #79 "Issue with multiple components with fetch"
I have multiple Svelecte components on my page which fetch their data using the fetch property from an api endpoint.

However having more than on eon the page causes only one of them to load data, i can see from the console logs the actual fetch call is made for both, but the first input simply shows as loading

Example on the repl, you'll notice the first input doesn't ever load

https://svelte.d

[2022-01-23 13:11] mskocik commented on #70
@rocamalo have you tried it? Can I close this issue?

[2022-01-23 20:33] Tam2 commented on #79
@mskocik - I've updated to 3.5.3 but it doesn't appear to have resolved the issue

I'm also using a fetchCallback to format the response back from the fetch if that make any difference (It works when there is only one on the page)

[2022-01-23 20:49] mskocik commented on #79
Strange, because I have tested it and REPL is also working fine. Can you provide broken example?
Custom `fetchCallback` should not affect this

[2022-01-23 20:59] Tam2 commented on #79
Updated the REPL with the fetchCallback where it's not working

https://svelte.dev/repl/7be51477f8364632b8d6c763dcfb8247?version=3.46.2

[2022-01-23 23:15] demetrius-mp opened #80 "Intellisense fails when importing directly from 'svelecte'"
when i import it like this:
[code]

i dont have any intellisense when defining the props of the component

However, if i import it like this:
[code]

i have the intellisense.

is it possible to provide the intellisense when doing the first import? im sure it is more convenient to import the component directly from `svelecte` instead of `svelecte/src/...`

[2022-01-23 23:54] demetrius-mp commented on #80
Also, isnt it possible to add some declaration files? i think there are some scripts that create them automatically based on the svelte component (such as [this one](https://github.com/andrelmlins/svelte-dts))

[2022-01-24 09:08] mskocik commented on #80
I have no experience with TypeScript, so if you can, prepare PR. I will hapilly merge it.

[2022-01-24 09:09] #79 closed, assigned to mskocik

[2022-01-24 10:03] mskocik opened #81 "Changing `disabled` can keep dropdown opened"
When clearing parent and `disabled` state is controlled by parent's value, we can end up in this state:
![image](https://user-images.githubusercontent.com/25513620/150762148-8d521f66-3366-4c2f-a91c-0de2a60ce119.png)

[2022-01-24 10:16] mskocik opened #82 "Wrong `fetch` response can break the app"
Keep app working even in case when invalid data is fetched from remote. `Array` is always expected.

- [x] handle invalid response from fetch
- [x] handle error in `fetchCallback`

[2022-01-24 10:58] #81 closed, assigned to mskocik

[2022-01-24 10:58] #82 closed, assigned to mskocik

[2022-01-24 15:32] demetrius-mp commented on #80
hi, thanks for responding back!
actually, i think that before doing the typescript thing, the issue of the import path should be solved first.

i've looked onto some other svelte component repos, such as [svelte-select](https://github.com/rob-balfre/svelte-select) and [sveltestrap](https://github.com/bestguy/sveltestrap), and i think this happens in your component because of the location and conte

[2022-01-24 21:13] mskocik commented on #80
Okay that will be easy to fix, will take a look at it tomorrow

[2022-01-24 21:32] demetrius-mp commented on #80
thanks so much!
once thats done, ill open another issue on typescript support and i might be able to help with it!

[2022-01-24 21:35] demetrius-mp commented on #80
also, consider moving `component.js` and `item.js` to `src/`

[2022-01-24 22:07] rocamalo commented on #70
it worked, you can close the issue, thanks a lot.

[2022-01-24 22:07] #70 closed, assigned to nobody

[2022-01-25 08:43] rottmann commented on #71
When in init mode, svelecte loads the optionlist, after that, the item with the key should be selected.

Currently we must set key and value to show a pre-selected item. But normally you store the setting (a key) and not the value.

Example:

Load a user from database and got his country-iso-code "DE".
Svelecte loads a countrylist in init mode and it should set the item to the selected user countr

[2022-01-25 12:43] mskocik commented on #71
Yes, this use case is totally valid.

I didn't know back then how to solve it properly. But as I thought about it today, it turns out, that solution can be pretty easy, soon will publish new version with the update.

[2022-01-25 14:27] rottmann commented on #71
Thank you.

Have 2 smaller suggestions:

When fetchMode is `init` and the data is loading, the component should be disabled until the data is available. (not so important, this could be done on app level too).

When set it manually to disabled and fech is still loading the loading spinner is invisible.

[2022-01-25 15:05] mskocik commented on #71
Spinner is visible even when disabled.

![image](https://user-images.githubusercontent.com/25513620/151001437-b1905dd8-2e03-464b-8ab8-e947a9296deb.png)

BUT when `disabled` is set to `true` and there is fetch request running, it's cancelled. This is intentional for use cases when you have parent svelecte controlling it's `disabled` and `fetch` props.

_Not sure if I will be able to achieve both fu

[2022-01-25 15:35] #71 closed, assigned to nobody

[2022-01-25 15:47] rottmann commented on #71
Here is a small example: https://svelte.dev/repl/4facb61cc3ed47bba72c80a5256f230d?version=3.46.2

It disables by default and simulates a 3 second fetch. After fetch it will be enabled. No spinner is visible while fetching, but fetch is running.

Ok, when you handle it as abort it is clear that no spinner is visible.

The abort und disabled functionality should better be separated. `abort` could st

[2022-01-25 18:38] mskocik commented on #80
Had problems with these, when testing it. The easiest solution would be to migrate whole package to svelte/kit (#49). But that's out of my time budget for now.

[2022-01-27 11:42] mskocik opened #83 "Show loading indicator when disabled"
Here is a small example: https://svelte.dev/repl/4facb61cc3ed47bba72c80a5256f230d?version=3.46.2

It disables by default and simulates a 3 second fetch. After fetch it will be enabled. No spinner is visible while fetching, but fetch is running.

Ok, when you handle it as abort it is clear that no spinner is visible.

The abort und disabled functionality should better be separated. `abort` could st

[2022-01-31 13:56] PlkMarudny opened #84 "Options groups in selection"
Is there any way to get also **group** label in value/selection?

[2022-01-31 15:28] mskocik commented on #84
If you provide it as an option property and then use your own `renderer` (which will handle displaying it) then yes.
Otherwise there is no way to get that information. Group label is handled as unselectable option in dropdown and acts only as a visual helper.

[2022-02-01 05:59] PlkMarudny commented on #84
Basically this means a "group" should be added to each item, well, fine. Thank you.

[2022-02-01 05:59] #84 closed, assigned to nobody

[2022-02-02 08:29] superseby2 opened #85 "Max options need to be {max}"
Sorry to open a issue for what could be obvious to many  but trying to use the  "max" option on my Sveltecte component did not work.
It's only after some fiddling that I realized I needed to pass it as {2} (for a max equal to 2) in order for it to be handled properly as int.

It's how it needs to be done in Svelte but maybe a hint in the documentation would help or a parseInt on the prop value wou

[2022-02-02 09:18] mskocik commented on #85
Agree, can be confusing for those whose start with Svelte. Should be handled by #49

[2022-02-02 17:14] superseby2 opened #86 "An option to show "Create with CTRL+Enter" only when there is no suggestion available"
Maybe this option exists but I could not find it.

Currently when a user starts typing, suggestions are shown and if creatable is true, the ability to create an new entry will be available. Which could be confusing for users.

For instance in our implementation tying : 'python' shows the proper suggestion "Python" but also a message asking to create "python".
Is there a way either disable entirely

[2022-02-08 14:31] PlkMarudny opened #87 "Validation example REPL does not seem to be working"
[REPL](https://svelte.dev/repl/de3cd8e47feb4d078b6bace8d4cf7b90?version=3.44.1) does not seem to be validating color selection; no matter what color is chosen, the form is invalid.

[2022-02-08 19:12] mskocik commented on #87
Will need to investigate why is it broken now 🤔

[2022-02-08 19:19] mskocik commented on #86
I am not sure if you mean `creatable` option. It would disable possibility to add new options completely.

Otherwise you can use `createFilter` for it? Like [this example](https://svelte.dev/repl/261222a20c6e4ac3ac635537f8d761dd?version=3.46.4)?

[2022-02-10 07:30] PlkMarudny opened #88 "Initial value is not set if points to a first option"
Look at this [REPL](https://svelte.dev/repl/ae7c4a2bf2174081a46e0768a8119333?version=3.44.2), when the initial value is set to 0, is not set, while when it is set to 1 or 2 it works as expected.

[2022-02-16 10:22] mskocik commented on #86
@superseby2 any feedback on previous comment? Was the proposed solution enough for your use case?

[2022-02-16 11:27] #88 closed, assigned to nobody

[2022-02-16 11:27] #87 closed, assigned to nobody

[2022-02-16 21:49] mspanish opened #90 "It is resorting my items"
Hi I have a 2000+ dataset, an array of objects that I load via fetch, and they are already alphabetized. For some reason this script and all others like it so far are re-ordering my items in a non alphabetical order. In my case, the field I have pre-alphabetized by is "sign". I've tried different settings - but it always messes up the order of my items no matter what I do. Can you see what I'm doi

[2022-02-17 07:40] mskocik commented on #90
Can you provide small subset of `$words`?

[2022-02-18 15:42] acidtv opened #91 "Svelecte field is uneditable after selecting an item and pressing 'space'"
I was able to reproduce this on the svelecte examples page: https://mskocik.github.io/svelecte/ using the 'basic' example.

Steps:
1. Pick a country, without losing the focus to svelecte
2. Then press 'space' twice

Now you can't edit your selection anymore until you move the focus somewhere else.

This happens in the 'complex playground' as well. If you use the 'Users api' as a datasource. After

[2022-02-18 16:10] acidtv opened #92 "The 'allowEditing' option does not seem to work"
First, I'd like to thank you for building Svelecte. It is very useful to us!

I just tried the 'allowEditing' option with the 'complex playground' example.
After having selected an item (from the 'Colors' set) using backspace removes the selection instead of editing it.

[2022-02-18 18:35] mskocik commented on #92
You can use `allowEditing` only together with `creatable`. Because it make sense only for this use case

[2022-02-19 08:32] #91 closed, assigned to nobody

[2022-02-21 07:44] #85 closed, assigned to nobody

[2022-02-21 08:02] superseby2 commented on #86
Sorry for the delay @mskocik

I forgot to mention that I am using 'fetch' as well.
So my problem is : when starting to type, I am successfully retrieving the list of relevant options from my Fetch async func but I am still being able to create a new item while I would be perfectly happy with the options I have.
The risk here is, for me, to have doublons.

What worked for me is changing line

`{#if

[2022-02-21 08:58] acidtv commented on #92
Ah, I didn't know that.

We have selectbox without `creatable`, but with a lot of items (using `fetch`), so it would be useful to 'edit' your selection if you want to search for something else. But I think that would be a new feature then?

In any case, is it possible to update to docs to clarify that `allowEditing` only works when `creatable` is enabled?

Thanks!

[2022-02-21 11:33] mskocik commented on #92
I am not sure I understand your use case.

If you want to search for something else (what is not among fetched items), you need to have set `creatable` to create option anyway.

If you would like to be able to edit fetched options, you need your items to have `$created: true` property. Like here: [REPL](https://svelte.dev/repl/b62c548e09ea4297a19ee0bef0998920?version=3.46.4)

[2022-02-21 12:16] #86 closed, assigned to mskocik

[2022-02-21 12:24] mskocik commented on #86
@superseby2 I've extended arguments for `createFilter` function.

Take a look at [REPL](https://svelte.dev/repl/1e05f3f5388a44e187bdb6d6c6b5a0eb?version=3.46.4), how you can use it for your use case.

[2022-02-21 16:11] acidtv commented on #92
No, I don't want to create any new items.

What I mean is, say you have a long list of names of people and you want to find someone called 'Joe'. You type 'Joe' in svelecte to search for every name containing 'Joe' and you pick 'Joe Foobar'. After you have picked a name you realize you actually wanted to pick 'Joe FoobaZ'. If you could just use backspace to remove the 'r' and search for 'Joe Fooba

[2022-02-21 16:17] mskocik commented on #92
I see now, this is not supported at the moment.

But passing `fetchResetOnBlur` can help - it at least won't reset previously fetched results.

[2022-02-22 09:24] acidtv commented on #92
Thanks, I'll have a look at that.

[2022-02-22 09:24] #92 closed, assigned to nobody

[2022-02-23 19:21] maxkozlowski opened #93 "Add an option to use a search icon instead of the arrow"
Sometimes you might want to use Svelecte as search rather than drop down. It would be nice to have an option to switch from arrow to a search icon to indicate that. Some kind of parameter `is_arrow` or `icon_type`.
If you think this is a reasonable change, I'm happy to create a Pull Request for this.

[2022-02-23 20:25] mskocik commented on #93
Could be added 🤔 The simplest solution would be to wrap current icon in a `slot`. If would offer more flexibility.

PR would be simple. Basically duplicate the `icon` slot of `Control` component. And add example to custom icon example component in  docs.

[2022-02-24 22:58] maxkozlowski commented on #93
Sounds good. I'll look into it in a couple of days and add a PR :+1:

[2022-02-25 02:16] #61 closed, assigned to nobody

[2022-02-25 12:35] mskocik commented on #93
@maxkozlowski actually I tried this approach and it worked even without code modification. See [REPL](https://svelte.dev/repl/033d47cbc24743c182fc1b8ca67aae9a?version=3.46.4)

Basically I hiding original svg by making it transparent and only display custom svg as a background image.

So I don't think, PR for this is needed. Is this enough for your use case?

[2022-02-25 21:33] maxkozlowski commented on #93
That looks awesome @mskocik , definitelly enough for my use case! Thanks a lot!

[2022-02-25 21:33] #93 closed, assigned to nobody

[2022-03-08 05:20] superseby2 commented on #86
Thank you @mskocik! It works like a charm :+1:

[2022-03-08 18:47] maxkozlowski opened #94 "Can't import getSelection"
Hello,

I'm trying to use getSelection but I can't import it. I was trying to:
`import Svelecte, {getSelection} from "svelecte";` but that throws an error :confused:
I wonder why could that be? (I'm likely just doing something wrong, forgive me- I'm new to both `js` and `svelte` 🙈 )

Thanks!

[2022-03-08 21:51] mskocik commented on #94
Why would you want to import it? Method `getSelection` is exposed on `Svelecte` component, but it's used internally for custom element version.

In pure svelte you can use it like this (but it doesn't make sense). Because you can bind it's value to some property.

[code]

[2022-03-09 04:52] superseby2 commented on #86
@mskocik Not a big deal, but it appears that we introduced a side-effect.
To reproduce with [REPL](https://svelte.dev/repl/1e05f3f5388a44e187bdb6d6c6b5a0eb?version=3.46.4)
- type python
- when you have the selection selected, you are allow to "arrow-down" which deselects the option and might confuse.

[2022-03-09 08:39] maxkozlowski commented on #94
Ah I see what you mean, that makes sense. Thank you!

[2022-03-09 09:21] FluffyDiscord opened #95 "Make encodeURIComponent() for newly created options optional"
Hi, new options created with `creatable` prop are forced to go through encodeURIComponent() which should really not be forced. We should have full control over it. Would it be possible to make it optional or better - make it a callable prop we can set so we can transform the value ourselves. I know we cna kinda workaround it by using createEvent to modify it, but that's not a clean solution if mul

[2022-03-13 11:40] avimar opened #96 "Removes unknown options on mount, even with `creatable` flag"
(Hi - this looks really cool!
A limitation I had with another select system was that it was giving the results as a complex object, but you have the `labelAsValue` option. And a lot more options.)

I have an issue where my auto-complete options may be lagging the actual full set of options.
I set `creatable` and the user can add in an option, that seems to work.  But if I set that option from an e

[2022-03-13 20:17] mskocik commented on #96
This is not possible with simple arrays in current implementation, because `value` is always derived from current options. Internally Svelecte checks for non-existing values and don't allow this inconsistent state.

The only way you can achieve your example is by using objects as value like this:

[code]

[2022-03-18 02:32] #90 closed, assigned to nobody

[2022-03-19 20:11] mskocik opened #97 "Move event dispatching after dispatching change event on anchored select"
Copy code from line `364` after `if` starting on `365`

[2022-03-24 07:59] maku opened #98 "Documentation on styling (e.g. active border)"
I have really problems to style svelecte.

E.g. I am not able to style the "active border"...

It would be good to have a styling section in the documentation

[2022-03-25 20:30] mskocik commented on #98
Good point. Styling customization was added later and I forgot to add it there.

[2022-03-26 15:01] maku commented on #98
@mskocik in the meantime could you give me a concrete hint how to style the "acive border" (e.g. with a specific border color when the widget has the focus)? TIA

[2022-03-26 18:58] mskocik commented on #98
Chech the styling in `src/Svelecte.svelte`. In the top are defined properties that you can easily copy and override by your css class which you assign to your Svelecte component

[2022-03-28 06:14] maku commented on #98
@mskocik Yeah I tried several things before I wrote this issue (of course)

Here are my tries in svelte repl https://svelte.dev/repl/0b8330bef9bc432294ad78724e4ff889?version=3.46.4

[2022-03-28 06:31] mskocik commented on #98
Almost there. Just add `!important` to your

[code]

Or if you want complete restyle, do it like in this [REPL](https://svelte.dev/repl/cdb5f771e6734b4683494ec9239e47c9?version=3.46.4) (ie. copy whole `.svelecte-control` class and add `class` property to your Svelecte

[2022-03-28 07:45] maku commented on #98
@mskocik yeah but this does not work for me

[code]

see https://svelte.dev/repl/8798d125beaf4752b769eaf4312e9b93?version=3.46.4

[2022-03-28 08:13] mskocik commented on #98
try this only

[code]

because your style `border-color` has higher priority

[2022-03-28 08:43] maku commented on #98
Great this works, thank you very much...

[2022-03-28 08:43] #98 closed, assigned to nobody

[2022-04-01 07:05] mskocik commented on #95
Note for myself: this was implemented just for custom-element.

[2022-04-02 16:09] #83 closed, assigned to mskocik

[2022-04-02 16:09] #95 closed, assigned to mskocik

[2022-04-02 16:09] #97 closed, assigned to mskocik

[2022-04-04 02:51] #94 closed, assigned to nobody

[2022-04-06 08:50] FluffyDiscord opened #99 "Selected value is not showing up properly after init"
Hi,
I would like to ask you if it's okay why the `selected` eg. svelecte `value` is not updated properly on init. I am using this select in vanilla JS as a HTML select replacement and setting/accessing it's values outside of the svelte component which works fine, except that the binded `selected` property doesn't seem to update properly on init as accesing it returns empty object
[code]

My wrappe

[2022-04-06 12:27] mskocik commented on #99
I have no experience with svelte's generated custom components. But have you tried built-in custom-element version of svelecte? I am using it this way in PHP applications successfully.

Check this [REPL](https://svelte.dev/repl/da8cfeed91b448b4bdb2ecc8b1f8741c?version=3.44.1)

[2022-04-06 12:40] FluffyDiscord commented on #99
I think I would run into the same issue as custom element props are also compiled the same way (they are public getters/setters on a dom element).

When I get a bit of free time, I will try using the custom element approach, but since I can't rewrite my whole app now to use the custom elements (I have done that once, migrating from jquery select plugins)

Still, I am looking for a way to work arou

[2022-04-06 12:47] mskocik commented on #99
You could try to bind the `selected` prop to Svelecte's internal method `getSelection` then. Maybe it will help.

[2022-04-06 13:08] mskocik commented on #99
Okay, my latest comments were little bit off. One question - are you getting any messages in the console?

[2022-04-06 13:10] FluffyDiscord commented on #99
Only `<Svelecte> was created with unknown prop 'XXX'` since I lazily pass all props via `{...$$props}`, nothing else as far as errors/warning goes

[2022-04-07 07:52] FluffyDiscord commented on #99
Closing the issue.

When the select is set to a single value (multiple=false) and I try to assing the `value` prop array of objects Svelecte component can't handle it and returns `{0: undefined}` as selected item. It could check whenever it's an array and select first item, but that is more of a QoL rather than a bug.

[2022-04-07 07:52] #99 closed, assigned to nobody

[2022-04-07 11:13] mskocik opened #100 "Handle case with empty optgroups"
This case throws an error in `fieldInit` helper.

![image](https://user-images.githubusercontent.com/25513620/162186356-d3263e39-51c3-464a-b9b0-04824a8441d8.png)

[2022-04-07 11:15] #100 closed, assigned to mskocik

[2022-04-07 15:54] mskocik opened #101 "Fetch for custom-element is broken since 3.7.0"

[2022-04-07 15:57] #101 closed, assigned to mskocik

[2022-04-08 02:50] #96 closed, assigned to nobody

[2022-04-08 16:37] FluffyDiscord opened #102 "Keep scroll position after selecting item from virtual list"
Hi, would it be possible to keep the scroll position after user selects item from the virtual list ?

Sometimes it stays and sometimes it doesn't and jumps back at the top. I don't know why. From what I can tell, it scrolls up by the current dropdown height.

Svelecte 3.6.0

[2022-04-08 16:41] mskocik commented on #102
~Can you create example REPL? It works fine for me~ Okay I can see it now

[2022-04-10 10:56] #102 closed, assigned to nobody

[2022-04-12 06:14] mskocik opened #103 "creatable doesn't handle `tab` character by default"
It should be used by default used as a split character

[2022-04-12 06:35] #103 closed, assigned to mskocik

[2022-04-16 11:11] andreasnuesslein opened #104 "Incomplete object is returned"
I have the following situation

[code]

where `projects` is a long list of complex objects, with various "sub-objects".

For _some_ reason, upon selecting an item, not the complete item is set in the `project` (`bind:value`).

If I implement this with native `select`, I do get the whole object.

[code]

I know this is rather nebulous and sadly I can not reveal any screenshots or similar. :S

Eithe

[2022-04-16 12:46] mskocik commented on #104
Can you reproduce it in REPL in some form?

[2022-04-18 16:07] andreasnuesslein commented on #104
actually yes, creating a REPL also revealed the problem:

https://svelte.dev/repl/f2a4591d4e334059a307838bc768fe5b?version=3.47.0

as you can see: it will infer all the objects' fields from the first list entry.
I'm not 100% certain but I'm assuming that this happened in my code too.

[2022-04-19 14:33] mskocik commented on #104
The current behaviour is intentional, because properties are extracted from first option item. Of course the expectation was, that all options are in same format. When you swap those items, then everything works correctly.

But definitely this could be improved.

[2022-04-24 09:06] oschina commented on #8
this problem exists yet

[2022-04-24 09:27] oschina opened #105 "The order of the initial display elements does not match the values provided"
code here:

[code]

initial display items is ID1 and  ID5 ,

<img width="305" alt="image" src="https://user-images.githubusercontent.com/1540855/164969987-cbfc6c75-7a68-4af0-bbf3-305a05c9c753.png">

[2022-04-24 13:18] #104 closed, assigned to mskocik

[2022-04-24 13:18] #105 closed, assigned to nobody

[2022-04-28 20:27] bradak1 opened #106 "Close Multi select after selection made"
The control should close the dropdown after a selection is made.  Regardless if it's multiple or not.

[2022-04-29 07:54] mskocik commented on #106
I would argue it should be a default behavior. But could be added as configuration option. Feel free to contribute.

[2022-04-29 19:07] jasonlor opened #107 "Uncaught (in promise) TypeError: Cannot read properties of null (reading 'parentElement' / scrollContainer)"
<img width="827" alt="image" src="https://user-images.githubusercontent.com/197345/166009788-64c7b58c-bb13-4cba-87e4-c336da9f8827.png">

[code]

On mount, I'm seeing an issue where the `scrollContainer` is sometimes `null` when trying to access ` scrollContainer.parentElement.style.bottom = ''`. This results in the above error.

[2022-04-30 05:30] mskocik commented on #107
Can you provide REPL with the issue?

[2022-05-07 12:48] mskocik opened #108 "Cannot set new options and value simultaneously"
Value is not set, calling `tick` is needed to bypass this

[2022-05-07 13:29] #108 closed, assigned to mskocik

[2022-05-09 07:55] mskocik opened #109 "[Firefox] Pressing `Tab` doesn't always focus next input"
When having long dropdown (with scrollbar), pressing `Tab` with `selectOnTab=false` (default), tabbing out with opened dropdown focuses body and on next `tab` press focus next input.
[REPL](https://svelte.dev/repl/179fcd5b70864e26b85af3183d68db9e?version=3.48.0)

[2022-05-09 12:46] #109 closed, assigned to nobody

[2022-05-10 09:07] g012 opened #110 "Add options groupLabelField and groupValueField"
Similar to valueField and labelField, it would spare us a conversion if we had groupLabelField and groupValueField for group headers.
Thanks !

[2022-05-10 14:10] mskocik commented on #110
Yes, can be definitely added to the configuration. Feel free to contribute. Basically it's needed only in `list.js` when converting `options` to flat list. (I'm writing it from my memory, maybe I am not 100% right)

[2022-05-24 15:49] FluffyDiscord opened #111 "readSelection does not return whole object ?"
Hi, the `readSelection` seems to not return the whole passed object as is stated in the docs.

I have array of categories
[code]
setup as this
[code]
Sometimes the read selection returns just a option like object
[code]
instead of a whole thing

Am I missing something ?

This happens only the second time the svelecte component is initialized/updated. I did check the passed options prop and it's fi

[2022-05-24 16:46] mskocik commented on #111
Are you using the latest version? If yes, can you setup reproducible example in REPL? It works fine for me when I am trying this.

[2022-05-30 10:01] mskocik opened #112 "[Feature] Add option to keep inputValue after item selection in multiselect"
Do not reset `inputValue` on selection. Sometimes you need to keep results filtered (with long lists and long search text)

[2022-05-30 10:47] #110 closed, assigned to nobody

[2022-05-30 10:47] #112 closed, assigned to mskocik

[2022-05-30 15:52] g012 commented on #110
Thanks :)

[2022-06-01 14:12] mskocik commented on #111
Can you at least share how your svelecte markup looks like?

On 1. 6. 2022 14:53, tom-acceleratecompliance wrote:

[2022-06-01 16:04] FluffyDiscord commented on #111
I have rewrote the logic so that I don't use `readSelection` at all, since I had to finish my project. This can be probably closed... The behavior is weird and hard to isolate.

[2022-06-01 23:31] tom-asmblr commented on #111
Apologies for my message @mskocik - the issue was found upstream of the component through a series of binds.

[2022-06-02 06:15] mskocik commented on #111
@tom-acceleratecompliance thanks for clarifying your case.

Anyway I will keep this open as potential bug.

[2022-06-19 03:23] #107 closed, assigned to nobody

[2022-06-27 02:44] tom-asmblr opened #113 "Ability to trigger re-fetch"
Hi, thanks for a fantastic library.
I've looked through the docs and the source code, but struggling to find a way to do this.
I've got situations where I know the data for the dropdown has changed and I'd like to trigger a re-fetch, but there doesn't seem to be a way to do it in the API.

I've tried resetting the fetch prop on the component, which does work, but causes a set of strange side-effec

[2022-06-28 15:01] mskocik commented on #113
How does your svelecte component look like?

[2022-06-29 00:15] tom-asmblr commented on #113
Hi Martin
This is what I'm hoping to achive:

[code]

Please let me know if you need more information or if there is an easier way to achieve this.

Thanks

[2022-06-29 17:28] #113 closed, assigned to nobody

[2022-06-29 17:31] mskocik commented on #113
Hopefully the fix solves your issue. Here is my testing [REPL](https://svelte.dev/repl/a6d6f584c0b0411b8227b8e9e4d0cee8?version=3.48.0)

[2022-06-30 00:43] tom-asmblr commented on #113
This fantastic, thanks so much @mskocik
The only slight weirdness I can see is if the selected option is not returned in the new set of items. In that case you get a console warning and the dropdown appears blank, but the dropdown doesn't change the actual bound value. Not sure if it would be possible to update that.

Either way, this is much better for our use-case, thanks so much!

[2022-06-30 05:48] mskocik commented on #113
Didn't catch that during testing, will fix today

[2022-06-30 07:44] mskocik commented on #113
@tom-acceleratecompliance are you sure about this? My REPL (posted above) resets also bound value. Can you provide example, when it is not working?

[2022-06-30 11:40] tom-asmblr commented on #113
Hey @mskocik - sorry you are right, it does look like value of the dropdown changes.

We didn't pick it up because we drive some behaviour off the `on:change` event, which does not fire when the value changes to undefined due to the option no longer being in the list. Do you think we should fire that event when this occurs?

Also, it looks like we get the following warning, which may be intended:

[2022-06-30 12:56] mskocik commented on #113
Definitely not. Because that would/could potentially result in multiple `on:change` trigger under different circumstances.

But it is possible to add specific event for this use-case. Would that be helpfull to you? For example called `on:invalidValue`

And yes the warning is intentional, because sometimes user could wonder, why the value is reset to `null` (Svelecte auto-check for valid/invalid `v

[2022-06-30 14:25] tom-asmblr commented on #113
Hi @mskocik - thanks for the great response, that all makes sense.
The `on:invalidValue` would be hugely helpful for us and would clean up a fairly messy workaround in our case, but also understand it might be quite niche so don't worry about it if it will add complexity.

Thanks again for your help and the fantastic library!

[2022-06-30 14:54] mskocik commented on #113
Event added, let me know if it's helpful :)

[2022-06-30 23:46] tom-asmblr commented on #113
This works perfectly, thanks!

[2022-07-11 11:46] tom-asmblr commented on #113
Hello Martin, apologies to ping you on this issue again.

We've found an issue when using `valueAsObject=true`. When the dropdown values change, `invalidValue` isn't called and the value is not set to nil.

Let me know if you need more information or a repl.

Thanks

[2022-07-11 12:10] mskocik commented on #113
Hi Tom, REPL would be great.

On 11. 7. 2022 13:46, tom-acceleratecompliance wrote:

[2022-07-11 12:23] tom-asmblr commented on #113
Hi Martin,
Please see the repl:
https://svelte.dev/repl/fca819be72ec4850a584776cbeb49709?version=3.49.0

With `valueAsObject=true`
1. Open dropdown, click 'Foo'
2. Click 'Change to bar'
3. Loading indicator can be seen on dropdown, but "Value" stays as { "label": "Foo" }.
4. Clicking on the dropdown shows the new option, "Bar", but no invalidValue event is thrown and the value of is not changed.

[2022-07-11 19:53] mskocik commented on #113
Should be fixed in new version 😎

[2022-07-14 00:06] tom-asmblr commented on #113
This works perfectly, thanks @mskocik !

[2022-07-19 14:20] gthomas3 opened #114 "Local collapsedSelection localization reflects global option"
Thank you for your work on this package! I've just begun integrating into a project and noticed the local option for overriding the collapsedSelection i18n localization is not working as expected. Please advise if I'm implementing the API incorrectly.

Code to reproduce:

[code]

Expected outcome: Once a selection is made "n customers selected" is displayed
Actual outcome: Once a selection is made

[2022-07-19 15:07] #114 closed, assigned to mskocik

[2022-07-19 15:12] mskocik commented on #114
Thanks for reporting. I've never customized it personally, so I haven't caught the bug myself :)

[2022-07-21 19:28] gthomas3 opened #115 "Allow multiple without valueAsObject"
Not sure if I'm implementing this incorrect, but is it possible to use `multiple` without `valueAsObject`?

What I'm trying to do is pass `options` an array of objects, but bind `value` to an array of only the `value` parameters.

[code]

For me this hasn't worked, and I've needed to pass `valueAsObject`, and updated `selectedFruit` to an array of objects instead of an array of strings.

Thanks!

[2022-07-21 19:34] mskocik commented on #115
What about this one? [REPL](https://svelte.dev/repl/0177b17b75384d78a8315fbc3afea908?version=3.49.0)

[2022-07-21 19:36] mskocik commented on #115
Also when you do not specify `valueField` and `labelField`, it's best to write property representing value as the first one.

[2022-07-21 19:53] gthomas3 commented on #115
Ah, there's a slight difference between the example above and my code. I was initializing `selectedFruit` as an empty array, and then populating it in an onMount function, like this:

[code]

When you do that, Svelecte doesn't display the selected fruit on page load, but if you skip the onMount call, and set selectedFruit directly like this, it works:

[code]

Awesome..

Thanks for your quick resp

[2022-07-23 17:11] mskocik commented on #115
I don't know. Even your example works :)

[code]

[2022-07-26 11:31] mskocik opened #116 "Ensure custom element behavior alignment with native select"
I had issues with validating `el-svelecte` with `mutliple`. It returns array with _empty_ value: `[""]`. Check how native `<select multi>` behaves. It should behave the same.. so it's probably bug.

[2022-08-04 14:08] MarkBFamFour opened #117 "fetch= with Promise?"
Hi,

I am writing and application in which I want to use Svelecte for a searchable drop-down for a large database accesses via a REST API, but instead of fetching using a direct URL I want to use a method that returns a ```Promise<Array<Options>>``` type return which is suitable for the options of Svelecte. What its the best way to do this? Can the component handle this already or will I have to p

[2022-08-04 15:02] mskocik commented on #117
Check this [REPL](https://svelte.dev/repl/175dd2e918d94e5fb1f093f4fa717f79?version=3.49.0) example using custom `fetch` function, which returns promise. Is it clear enough for you?

[2022-08-05 08:08] MarkBFamFour commented on #117
Thanks, that worked perfectly. I think I may have needed to update the package, as it just took in my Promise output straight off the bat, but thanks for the assist! :)

There may be value to adding an example like this to the docs, too (unless it's there and I'm just blind), for folks using stuff like Axios for API calls it's really useful to know.

[2022-08-05 08:08] #117 closed, assigned to nobody

[2022-08-06 14:28] mskocik commented on #117
@MarkBFamFour yes, you are definitely right. Documentation could be improved. I don't have time for it at the moment. And it would take a lot of time to rework docs completely, which I would like to do some day. I already have opened issue for it (#49). So if you have other suggestions, what could be improved, add it there.

[2022-08-17 03:38] #115 closed, assigned to nobody

[2022-08-26 07:27] maxkozlowski opened #118 "Reroute based on value selected"
Hello!

Thank you for your awesome library, it's super useful.

What would be the best way to reroute based on value selected? For example if a user selects in search "productA", you would want to send them to domain.com/productA.

The main question is around what event I should use to know that user selected a product? (for rerouting itself I could probably use `goto()`)
I've tried `on:change` -

[2022-08-26 08:13] mskocik commented on #118
You want to use `on:change`. But if it's fired immediately, it means, that value has been changed. Demo REPL would be useful.

[2022-08-26 08:39] maxkozlowski commented on #118
Thank you! See [REPL](https://svelte.dev/repl/660561153a9045d388dfcaa4d7bf8fc7?version=3.49.0).

[2022-08-26 08:49] mskocik commented on #118
The problem in your example is that you are immediately calling `toggle()`. But in fact you want just to bind it to the `change` event:

[code]

Here you have correct version: [REPL](https://svelte.dev/repl/d0885b207c2947bcaa4964c744482b56?version=3.49.0)

[2022-08-26 09:45] maxkozlowski commented on #118
Ah I see where my mistake was. Thank you for explaining it!

For anyone trying to find how to reroute your Svelecte, see below. Hope it helps.

[code]

[2022-08-26 10:58] #118 closed, assigned to nobody

[2022-09-01 08:33] FluffyDiscord opened #119 "Input is editable on mobile when single item is already selected"
Hi, user is able, presumably, to search even when he should not be able to, because he already has preselected option.

This happens only on mobile phones (chrome tested) - you need to use your phone as this is not an issue on desktop.

Snippet

[code]

Screen how it looks

![image](https://user-images.githubusercontent.com/10332247/187868940-afe1a6b7-d406-49e7-9e4f-ed09f62657a0.png)

Svelecte: 3.

[2022-09-01 08:42] mskocik commented on #119
I see, although I wasn't able to reproduce it myself so visibly. Is this issue looking for you also on svelecte documentation page?

[2022-09-01 08:46] FluffyDiscord commented on #119
yes, in the Basic Usage example, I am allowed to write, tho theres fixed input width, so it does not show

[2022-09-01 08:49] FluffyDiscord commented on #119
![](https://cdn.discordapp.com/attachments/730303499878924341/1014819173483941918/Screenshot_20220901-104853_Yuzu_Browser.jpg)

[2022-09-07 06:43] PlkMarudny opened #120 "setSelection does not seem to work"
Not sure if understood setSelection() API method properly, but is it supposed to set the selection programmatically? If yes, it does not  seem to do so - [REPL](https://svelte.dev/repl/fc74430f627749e8a0be69eebe3d2bbd?version=3.44.2) here - bound values are objects.

[2022-09-07 11:27] mskocik commented on #120
Methods `getSelection` and `setSelection` are required only for custom element. They are "internal" and they shouldn't be listed in Public API section.

In your example you can change bound value directly, no need to use this api method.

[2022-09-07 12:46] PlkMarudny commented on #120
Somehow I am doing sth wrong, another [REPL](https://svelte.dev/repl/3997c99c63af4953b85c0d4f58a935b0?version=3.44.2) with a direct assignment to the bound value; does not seem to work.

[2022-09-07 13:26] mskocik commented on #120
Yes, you're doing it wrong, because you are using `labelAsValue`, but this property is designed to be used with plain arrays only. Behavior in conjunction with `valueAsObject` is undefined.

Line from documentation:

By plain array I mean this:
[code]

Is it clear now?

[2022-09-07 13:39] PlkMarudny commented on #120
Yes, it is, thank you.

[2022-09-07 13:39] #120 closed, assigned to nobody

[2022-09-07 13:44] mskocik commented on #120
Just comment for myself - be more clear about this when doing #49

[2022-09-07 14:43] mskocik commented on #120
@PlkMarudny maybe you were confused because you just wanted to show `label` property as option visible "label". Svelecte is trying its' best to automate this for you and to pick correct _"value"_ and _"label"_ properties. In case you have option objects with multiple properties, you can specify the one being shown by `labelField`

[2022-09-08 01:00] Bandit opened #121 "[Request] Add is-empty and is-invalid classes"
Unless I'm missing something obvious, there's no easy way to style invalid or empty fields (or perform validation in general).

If I mark a `Svelecte` element as `required` it should visually show that a blank value is invalid. This could be achieved like so (pseudocode):

`if (selectField.is(":invalid")) parent.classList.add("is-invalid")` (and similar for `is-empty`)

That way people can reasona

[2022-09-08 09:29] PlkMarudny commented on #120
I just want to set the value programmatically when valueAsObject={true}

[2022-09-08 09:34] mskocik commented on #121
I am not really convinced about it. This can be achieved on your side like in this [REPL](https://svelte.dev/repl/9e46405ad37c49cf9db75f5c4df04878?version=3.50.0)

You can always determine the validity state based on bound value property. And you can rely on `checkValidity` for internal `<select>` element.

Personally I've never had need for this and I am also using its custom element version in P

[2022-09-08 09:49] Bandit commented on #121
The `:has(select:invalid)` is a clever idea, I hadn't thought of that.

Can I ask why the above REPL isn't linked somewhere clearly in the documentation? There's almost zero information about validation and how to do it - which I personally find very surprising for a form element replacement.

Whether or not you add quick/convenience ways to determine validation is up to you - but in my opinion a

[2022-09-08 10:24] mskocik commented on #121
Don't forget that even thouh Firefox supports :has, it isn't enabled yet
by default.

I created this REPL for you. There is one REPL related to validation
mentioned in github readme, but it's missing in doc site. I must have
missed it.

I know that docs need rewrite, but it's so hard to write it the way, it
will be really clear for everybody else and it's more time consuming.
And I don't have time

[2022-09-08 20:33] Bandit commented on #121
Maybe just something like this:

[code]

[2022-09-09 13:34] mskocik opened #122 "Initial value for dependent select is always null"
Initial value is always unset, although `value` property is specified. Serious bug which prevents from usage in editing records.

[2022-09-09 16:04] mskocik commented on #122
Not fixed for parent, which has also `fetch` property

[2022-09-09 16:05] #122 closed, assigned to mskocik

[2022-09-09 19:14] azizelmadini opened #123 "Current and currentTarget always return null"
Hello guys,

I'm trying to get the event target of the select on the change event to use for validation with svelte-forms-lib and yup, but i get the target in the CustomEvent always null, any help if i'm missing an option or something, and Thanks for this amazing Select.

[2022-09-10 04:46] mskocik commented on #123
CustomEvent has only `detail` property defined, which represents value,
not element itself. Provide REPL which is not working and I can show the
workaround.

On 9. 9. 2022 21:14, azizelmadini wrote:

[2022-09-10 04:58] mskocik opened #124 "Change placement of `anchorSelect` for custom element"
Require it to be existing before svelecte element in DOM. Svelecte can then refence it by some attribute.

This would remove the need for timeout in `connectedCallback` and for simple use cases, it can use existing select options.

[2022-09-11 00:09] azizelmadini commented on #123
This is an example :
[code]

[2022-09-12 13:44] mskocik commented on #123
Svelecte supports `validatorAction` property, which is designed to be hooked to the underlying `<select>` element as an action.

Your given example doesn't work in svelte REPL, so I can't provide with the working example. But basically you need to do this:

[code]

[2022-09-12 13:46] mskocik commented on #123
I've just added `change` event in the `3.9.6` version, previously there was only `input` event to hook your handler to.

[2022-09-13 08:14] azizelmadini commented on #123
I could not make it work that way too, so i had to drop `onchange` and use just `onsubmit` for validation, because in somehow `onsubmit` validate the value not the element itself.
Thanks for help.

[2022-09-13 08:25] mskocik commented on #123
Check how I did it here [REPL](https://svelte.dev/repl/9b1ecd086e86439fa2fbebfb70f792a4?version=3.50.1). I had to copy-paste required logic from svelte-forms-lib and replace `validationSchema` by `validate` prop to make it work. (IMHO I wouldn't use this validation lib, because even examples on their page don't really work).

But I think the result behavior is what one would expect.

[2022-09-13 17:22] mskocik commented on #119
@FluffyDiscord let me know if it's fixed for you.

[2022-09-14 06:37] FluffyDiscord commented on #119
Unfortunately it's still not fixed. Maybe disabling the input would do (or preventing on:input ?) if it's single select and it's already selected?

[2022-09-14 06:59] mskocik commented on #119
Can you provide replicable issue in svelte REPL? Would be much easier to
fix. I can't reproduce it on my android phone now.

Disabling input is not good, because it would prevent clearing selected
item on backspace.

On 14. 9. 2022 8:37, Mossshine wrote:

[2022-09-14 07:33] FluffyDiscord commented on #119
The issue is present in the svelecte docs on the first example Basic Usage and should be visible for every(?) android device.

Issue should be in all chromium browsers and webkit browsers, see this bug report from 10 years ago https://bugs.chromium.org/p/chromium/issues/detail?id=118639

The keyup and keydown key code is "Unidentified" https://stackoverflow.com/questions/36753548/keycode-on-androi

[2022-09-14 08:32] mskocik commented on #119
Issue is somewhat present in the docs. I can see on my device, that I am getting word suggestions, but nothing is being typed or shown.

The problem is that `onKeyDown` handler should handle this case (item selected for single select) in `default` case correctly:

https://github.com/mskocik/svelecte/blob/e49735e923941383aaaed1a8ab0b9bf8f5df6604/src/Svelecte.svelte#L597-L601

And I not even mention

[2022-09-14 08:52] FluffyDiscord commented on #119
You can't see things you type because the input width is 2px, this issue is as old as this library is, but it's easily fixable from outside (css overwrite thr .inputBox class if i remember correctly) so I didn't report it. Try removing the fixed width for debug purposes.

I have also noticed that "preventDefault" does not seem to work on mobile on keydown and keyup, probably linked to the chromium

[2022-09-16 08:54] turkic-dev commented on #119
Hey I have this problem in all browsers. Can you help me?I can only create one. Others are not visible at all.

[code]

[2022-09-16 10:26] mskocik commented on #119
@turkic-dev your comment isn't clear. And you posted it 2 different issues. So I have no idea what are you trying to say.

[2022-09-16 11:02] turkic-dev commented on #119
@mskocik
Sorry, I'm creating a createable field but there are two problems.
1) If you don't create any option in the first selection, you can never write.

Example:
First select "Item 1" option then when it tries to create a new option it never writes

2) I can't create multiple options

[2022-09-16 11:09] mskocik commented on #119
Okay, I understand now. It's fixed that in `3.9.8` version. There was a bug introduced in attempt to fix this issue.

[2022-09-16 12:14] turkic-dev commented on #119
@mskocik Oh yes it works now. Thank you so much.

[2022-09-19 08:55] FluffyDiscord commented on #119
@mskocik the "keydown" could be replaced with [beforeinput](https://developer.mozilla.org/en-US/docs/Web/API/HTMLElement/beforeinput_event) on mobile devices. Is does not show the actual key (neither does thr keydown event, tho), but you could kind of check the content being written and if it would be an actual string, preventDefault it.

[2022-09-21 14:12] #119 closed, assigned to nobody

[2022-09-21 14:15] mskocik commented on #119
@FluffyDiscord your suggestion wouldn't work, because `beforeinput` runs _after_ `keydown`.

What I found is that android chrome ignores `preventDefault()` call on every event (keydown, beforeinput, input, keyup)... At least I fixed "enter" behavior on android as well.

[2022-09-22 09:56] mskocik opened #125 "Dispatch `keydown` event or alike on enter"
This can be useful in cases when you would like to prevent default behavior `keyDown` event on `Enter` and you don't want to submit given form.

[2022-09-22 10:17] #125 closed, assigned to nobody

[2022-09-25 16:56] dsm054 opened #126 "Doc request: dnd examples"
Often drag and drop is only needed to rearrange _within_ a selection, not between selections.  Selecting columns to format an output, for example, which is my current problem.

Unfortunately I keep bouncing when attempting to combine the svelecte dnd example with the svelte-dnd-action multiple dndzone example, especially when trying to work with groups.

Could we add examples of the recommended pa

[2022-09-26 08:34] webfrank opened #127 "Options with simple array"
Hi,
  great work!

One question, if I use a simple array for options like: ['One', 'Two'] the bind:value will be the array index.

Is it possible to return the value from the array and also select the correct item if value is set to one of the array values?

[2022-09-26 08:44] mskocik commented on #127
You probably want to use property `labelAsValue`?

[2022-09-26 08:49] webfrank commented on #127
Thank you, missed the option, exactly what was searching for.

[2022-09-26 09:02] mskocik commented on #126
I am not sure I understand what is your problem. Can you describe it more?

But in general I am not sure it will be possible, because dnd integration was meant for simple selection rearrangement

[2022-09-26 09:07] webfrank commented on #127
Sorry to bother, but if I use multiple="true" and simple array it doesn't work.

This is my test-case:

[code]

The service returns an array like: ['iot', 'poe'] but the select only shows 'o' (I presume from object Object)

[2022-09-26 10:04] mskocik commented on #127
Svelecte uses objects internally (it internally converts simple array to object array), so you need to convert result array to object array. Like in this [REPL](https://svelte.dev/repl/1ae85f35c31d46e5833a09f135278c62)

[2022-09-26 14:02] FluffyDiscord opened #128 "v3.9.1 onwards broke option to manually set "value""
Hello, updating library from 3.9.0 to 3.9.1 breaks value setting for me. Assigning an existing option selects the first one from the option list, instead of the correct one.

REPL 3.9.1 (broken)
https://svelte.dev/repl/697a085525994086ba3b5e3ab6b5314d?version=3.50.1

RELP 3.9.0 (working)
https://svelte.dev/repl/8ec8eef24921494d86141f05873af45f?version=3.50.1

[2022-09-26 15:27] #128 closed, assigned to nobody

[2022-09-27 13:15] oskar-gmerek opened #129 "No other options after choice"
Hi there,

My code looks like this:
[code]

I have three objects, they all are correctly rendered as options in Svelecte. But after I select one, the list of options is updated to an empty object, rendering `No options` instead.

Is it a bug, or am I doing something wrong?

[2022-09-27 14:09] mskocik commented on #129
And when you console.log(objects) after selection. Is it empty, or not?
I would say it will be empty.

On 27. 9. 2022 15:15, Oskar wrote:

[2022-09-27 14:34] oskar-gmerek commented on #129
For this:
[code]

console output is:
[code]

So it's not empty

[2022-09-27 18:25] maxkozlowski opened #130 "Fire an event on empty dropdown"
For tracking purposes I might need to fire a function when user gets empty dropdown. I've search through the docs but couldn't find anything that I could use 🤔  Would anyone be able to help?

[2022-09-28 08:23] webfrank commented on #127
Hi, if multiple is true it seems it doesn't convert to object array like for multiple = false.

If I send the data like [{tag: 'iot'},{tag: 'poe'}] it works. I expect to handle the fetch data in the same way like multiple false:

['iot','poe'] -> [{option:'iot', value: 0},{option: 'poe', value: 1}]

which works.

[2022-09-28 09:39] mskocik commented on #127
Maybe I wasn't clear enough when I said, that plain array is converted to objects internally. This happens ONLY with initial `options` property.

If you use remote fetching and need to transform received value to object array, you need to define your own `fetchCallback` as I showed in REPL in my last comment. Where I tried to mimic your demo, just replaced your API endpoint by "synthetic" fetch.

[2022-09-29 01:51] dsm054 commented on #126
Sure!  What I mean is that if you naively put a few svelecte selectors using dndzone next to each other, you can drag and drop between all of the selections.  So if I have one with colours and one with sizes, I can carry the "red" from the first zone and slot it into the sizes beside "large".  That's not what I want: all I need is rearrangement within the list, which I'd have thought would be easi

[2022-09-30 07:15] #126 closed, assigned to nobody

[2022-09-30 07:20] mskocik commented on #126
Okay, it was bug, which allowed dragging across svelecte instances. It's fixed now and behave correctly by default. (You can "enable" this cross-sharing behavior againg by specifying the same `inputId` prop as shown in example).

And I agree, dnd should be mentioned directly in the new docs.

[2022-10-05 04:45] mskocik commented on #130
Try to hook the mutation observer for the dropdown and them check if it has only one options saying "no options". There is nothing in thw library that could be used for your use case

[2022-10-05 04:47] mskocik commented on #129
Interesting. If you think it's an issue, create REPL for it. Because I can't reproduce it

[2022-10-05 07:14] mskocik opened #131 "Provide way to define `i18n` on custom element"
It should be possible. Like passing encoded json as some attribute?

[2022-10-09 03:42] #123 closed, assigned to nobody

[2022-10-11 07:15] mskocik commented on #104
Can you reproduce it in REPL in some form?

On 16. 4. 2022 13:11, Andreas Nüßlein wrote:

[2022-10-11 07:56] mskocik commented on #117
Can you provide minimal repo for reproduction? Would save me some time.
But I am not sure why it should be broken now.

On 22. 9. 2022 23:54, Maksymilian Kozlowski wrote:

[2022-10-11 08:17] maxkozlowski commented on #117
Hello! Ah, apologies for this - there was just something on my end that didn't work in the end, but the proposed solution does work with the new Sveltekit release. I deleted the comment to avoid confusion, but somehow it must have been still visible to you! Sorry for this.

[2022-10-11 09:53] andreasnuesslein commented on #104
well I had a REPL a while back, but are you asking: "is it fixed now?" - i think it is.
I'm not actually using your component to be honest, so I can't say for certain.

cheers

[2022-10-11 10:01] mskocik commented on #104
I think this must have been some internal GitHub issue, because I haven't sent this mail today (I sent it in April 😃)

[2022-10-11 16:00] RykGitProjects opened #132 "Prefetch possibilities"
Hello,

I am using your library in my project. It's great!

Currently I am trying to get [prefetch ](https://kit.svelte.dev/docs/link-options) to work. I found the solution - in search results (in +server.js file) I changed values which are shown in search results by adding them <a href=<where to go>Text searched</a>

And it works this way!

It just doesn't seem to be proper solution

I wonder if

[2022-10-11 16:28] mskocik commented on #132
I am not sure I understand what's the issue.

Do you have searchable svelecte with defined `fetch` property, but you
want some initial result set defined? Or is it something else? Can you
describe it more?

On 11. 10. 2022 18:00, Ryszard Kozlowski wrote:

[2022-10-11 17:14] RykGitProjects commented on #132
Sure

Currently:
1)User types something into search
2)There is response and search shows possible results (which match what user typed)
3)User hovers over specific result which interests him
4)User click specific results
5)User is redirected to specific page (which he clicked)

I would like in point 3 to already fetch the page which is hovered. So step 5 will be much smoother from user perspective

[2022-10-12 13:55] mskocik commented on #132
You could try to create your own Item component and intercept the `hover` event there. Check the REPL how to do custom items here: https://github.com/mskocik/svelecte#custom-items

But maybe the way you are handling it right is just fine :)

[2022-10-16 12:10] RykGitProjects commented on #132
Thanks for your reply!
Used concat with a href. It works, sor for now it is good :)

[2022-10-16 12:10] #132 closed, assigned to nobody

[2022-10-16 15:07] mskocik opened #133 "colon in selected item breaks custom-element's value mapping"
When formatting value attribute, it's split by `,` character and then try to map result array to options. But if option contains `,` itself it's breaks and there is no way to specify custom delimiter.

As as result it is impossible to edit existing values, because they don't show up, although internally it works ok.

[2022-10-16 16:40] mskocik commented on #133
Property `value-delimiter` will be added to have it customizable. Show be mentioned in reworked docs #49

[2022-10-16 16:44] #133 closed, assigned to nobody

[2022-10-16 16:44] #131 closed, assigned to nobody

[2022-10-16 16:44] mskocik commented on #131
Implemented only partially - basically none functions are overwritable, except for `createRowLabel` where you can set string and specify `#value` placeholder, which will be replaced. Mention in #49

[2022-10-17 14:14] RykGitProjects opened #134 "Mobile - changing input (inside text)"
Hi!

I am experiencing UX flow (?) that on mobile when I put keyword with error (for example alania), and tap in between any letters (for example la) it does only focus (on alreacy focues) search bar instead of moving coursor into that area, so I would be able to change it to albania. Video of the case:

https://user-images.githubusercontent.com/95529851/196200222-d9e20dcc-fc5e-4466-9d6a-f19938bd6

[2022-10-17 15:40] mskocik commented on #134
This was meant to be intentional - to be able to open dropdown by clicking on it. But this case should behave as expected.

_Note for myself: it's not relevant only to mobile_

[2022-10-18 18:38] #106 closed, assigned to nobody

[2022-11-14 03:11] #129 closed, assigned to nobody

[2022-11-14 03:11] #130 closed, assigned to nobody

[2022-11-14 03:11] #127 closed, assigned to nobody

[2022-11-15 10:54] codeho opened #139 "Dropdown.svelte & Control.svelte Warning non-interactive element"
Hi,

the Dropdown.svelte is throwing a warning:

`A11y: visible, non-interactive elements with an on:click event must be accompanied by an on:keydown, on:keyup, or on:keypress event. (227:6)`
`225:   {#if inputValue && creatable && !maxReached}`
`226:     <div class="creatable-row-wrap">`
`227:       <div class="creatable-row" on:click={dispatch('select', inputValue)} on:mouseenter={dispatch('hove

[2022-11-16 06:17] mskocik commented on #139
Seems like it's new warning from svelte compiler. If you can create PR
for it would be awesome.

On 15. 11. 2022 11:54, Thorsten Schau wrote:

[2022-11-22 05:09] blazzjosh opened #140 "Custom Button with custom function as first option"
How may this be achieved? - not necessarily using just createable.

I want to lead user to a drawer or another form to properly create a new option for svelecte.

<img width="200" alt="Screenshot 2022-11-22 at 6 04 01 AM" src="https://user-images.githubusercontent.com/19534082/203226478-f0c57a25-0e45-4784-a85a-a8f1398aa4b0.png">
<img width="241" alt="Screenshot 2022-11-22 at 6 03 25 AM" src="https

[2022-11-22 19:47] mskocik commented on #140
Svelecte is not designed to be this customizable. Although it is possible to do it. Quick example [here](https://svelte.dev/repl/6e59b1b4d99040149bce231c5c1a65b4?version=3.53.1).

[2022-11-24 11:38] gterras commented on #98
Hi is it still expected to use `global` for basic styling? Passing a CSS variable to the component (`<Svelecte --sv-min-height="35px" />`) does not work since it is wrapped in extra markup . It also get overriden for any element that isn't the root `.svelecte-control` since the CSS variables are reapplied for each sub-element, example with

[code]

**CSS variable is applied for top-level element:*

[2022-11-25 15:39] mskocik commented on #98
Yes, this is still required. Why? Because I had written style override technique before it was possible to inline css vars in components.

I will open another issue for this, hopefully someone will create PR for it :)

[2022-11-25 15:40] mskocik opened #141 "Refactor css to allow to pass inline CSS variables"
Hi is it still expected to use `global` for basic styling? Passing a CSS variable to the component (`<Svelecte --sv-min-height="35px" />`) does not work since it is wrapped in extra markup . It also get overriden for any element that isn't the root `.svelecte-control` since the CSS variables are reapplied for each sub-element, example with

[code]

**CSS variable is applied for top-level element:*

[2022-11-25 16:19] gterras commented on #98
I'll try to have a look this weekend if I can find some time!